<% provide(:title, "Profile") %> 

<p>
  <strong>Name:</strong>
  <%= @current_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @current_user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @current_user.password %>
</p>