<div>
  <h2>Log In</h2>

  <% form_tag '/sign_in' do%>
    Username: <%= text_field_tag :username %>
    <br>
    Password: <%= password_field_tag :passowrd %>
    <br>
    <%= submit_tag "Log In" %>
  <% end %>
</div>